body{
  background: url("../img/antarctic_fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

label{
  color: ivory;
}


.col{
  float: right;
  width: 33.33%;
}
.col-form{
  float: right;
  width: 33.33%;
  column-span: 15px;
  background:  rgba(255,255,255,.3);
}

.list-group-item{
  margin-bottom: 5px;
  background: rgba(10, 206, 206, .7);
  color: ivory;
  border: none;
}

.list-group-item:first-of-type,
.list-group-item:last-of-type{
  border-radius: 0px;
}

.list-group-item.active{
  background: rgba(12,12,76,.7);
}

.list-group-item:hover{
  background: rgba(255,255,255,.7);
  cursor: pointer;
}
.card1{
  background-color: rgba(255,255,255,.7);


}

.card{
  max-height: calc(100vh - 40px);
    overflow-y: scroll;
}

.card img{
width: 122%;
margin: 268px auto -16px -47px;
border-radius: 50%;
clip-path: circle(91px at 220px 113px);
}

.card .card-title{
  color: #333;
  text-align: center;
}

.card .card-title span{
  color: rgba(10, 206, 206, .7);
}

.card h4{
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

.card .btn-primary {
  background-color: rgba(10, 206, 206, .7);
  border: none;
}
hr {
  border: 3px solid gray;

}

.vertical{
  border-left: thick solid gray;
}

.content-wrapper{
  border: solid gray;
  margin: 18px;
}

.social-network-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-network-wrapper .social-icon{
    background-size: cover;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.social-network-wrapper .social-icon.facebook{
  background-image:url("../img/facebook-icon.png");
}

.social-network-wrapper .social-icon.twitter{
  background-image:url("../img/twitter-icon.png");
}

.social-network-wrapper .social-icon.linkedin{
  background-image:url("../img/linkedin-icon.png");
}

.social-network-wrapper .social-icon.instagram{
  background-image:url("../img/instagram-icon.png");
}

.social-network-wrapper .social-icon.youtube{
  background-image:url("../img/youtube-icon.svg");
}

.social-network-wrapper .social-icon:not(:first-of-type){
  margin-left: 5px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
